PORT=3000
MONGODB_URI=mongodb://localhost:27017/made_in_eg
NODE_ENV=development

# JWT
JWT_ACCESS_SECRET=change_this_access_secret_long_random_string
JWT_REFRESH_SECRET=change_this_refresh_secret_long_random_string
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# Nodemailer (Gmail with App Password)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your@gmail.com
MAIL_PASS=your_gmail_app_password
MAIL_FROM="Made in Egypt <your@gmail.com>"
ADMIN_NOTIFY_EMAIL=admin@yourdomain.com

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:5173

# First admin creation secret
ADMIN_CREATION_KEY=12345
